* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', serif;
	font-weight: 300;
}

body {
	background-color: var(background-color);
	color: var(text-color);
}

img {
	margin: 0 auto;
	width: 100%;
}

h1 {
	font-size: 1rem;
	text-align: center;
	font-weight: 400;
}

.container {
	display: flex;
	flex-direction: column;
	max-width: 30rem;
	margin: 0 auto;
	gap: 2rem;
	min-height: 100dvh;
	padding: 2rem;
	justify-content: center;
}

.link-list {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

a {
	display: block;
	background: #00000010;
	padding: 1rem;
	color: var(text-color);
	text-decoration: none;
	transition: transform 200ms, background-color 200ms;
	border-radius: 0.5rem;

	&:hover {
		text-decoration: none;
		transform: scale(1.05) rotate(-1deg);
		background: #00000030;
	}
}

a:first-letter {
	text-transform: uppercase !important;
}

@media (min-width: 500px) {
	h1 {
		font-size: 1.8rem;
	}

	body {
		font-size: 1.5rem;
	}
}

@media (min-width: 400px) {
	img {
		width: 70%;
	}
}
